@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  font-size: 4.8rem;
}

h5 {
  font-size: 3.2rem;
}

h6 {
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-2 > * {
  padding: 2rem;
}

.gap-2 {
  margin-left: -2rem;
  margin-right: -2rem;
}

.justify-center {
  justify-content: center;
}

@media (min-width: 0) {
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 720px) {
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 960px) {
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
.text-primary {
  color: #0B8376;
}

.bg-primary {
  background-color: #0B8376;
}

.bg-primary-light-2 {
  background-color: #3c9c91;
}

.bg-primary-light-4 {
  background-color: #6db5ad;
}

.bg-primary-light-6 {
  background-color: #9dcdc8;
}

.bg-primary-light-8 {
  background-color: #cee6e4;
}

.bg-primary-dark-2 {
  background-color: #09695e;
}

.bg-primary-dark-4 {
  background-color: #074f47;
}

.bg-primary-dark-6 {
  background-color: #04342f;
}

.text-secondary {
  color: #755AE2;
}

.text-hover-secondary:hover {
  color: #755AE2;
}

.bg-secondary {
  background-color: #755AE2;
}

.bg-secondary-light-9 {
  background-color: #f1effc;
}

.text-error {
  color: #FF0F00;
}

.bg-error {
  background-color: #FF0F00;
}

.text-info {
  color: #f6c31c;
}

.bg-info {
  background-color: #f6c31c;
}

.text-white {
  color: #F7F8F7;
}

.text-hover-white:hover {
  color: #F7F8F7;
}

.text-green {
  color: #0B8376;
}

.bg-green {
  background-color: #0B8376;
}

.text-purple {
  color: #755AE2;
}

.bg-purple {
  background-color: #755AE2;
}

.bg-purple-dark-8 {
  background-color: #17122d;
}

.text-orange {
  color: #EA872D;
}

.bg-orange {
  background-color: #EA872D;
}

.text-hover-orange-light-1:hover {
  color: #ec9342;
}

.text-black {
  color: #020202;
}

.bg-black {
  background-color: #020202;
}

.text-deep-green {
  color: #014345;
}

.bg-deep-green {
  background-color: #014345;
}

.card {
  display: block;
  padding: 1rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
}
.card .card-title {
  font-size: 1rem;
  padding-bottom: base-padding;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #e2e2e2;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #0B8376;
}
.btn-primary:hover {
  background-color: #0d9b8b;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #0B8376;
  color: #ee394c;
}
.btn-complement-primary:hover {
  color: #0B8376;
  background-color: #ee394c;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #755AE2;
}
.btn-secondary:hover {
  background-color: #8770e6;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #F7F8F7;
  border: 1px solid #755AE2;
}
.btn-outlined-secondary:hover {
  background-color: #755AE2;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #FF0F00;
}
.btn-error:hover {
  background-color: #ff271a;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #f6c31c;
}
.btn-info:hover {
  background-color: #f7c935;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #F7F8F7;
  border: 1px solid #755AE2;
}
.btn-outlined-purple:hover {
  background-color: #755AE2;
}

.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #755AE2;
  color: #f3f9dc;
}
.btn-complement-purple:hover {
  color: #755AE2;
  background-color: #f3f9dc;
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #F7F8F7;
  border: 1px solid #EA872D;
}
.btn-outlined-orange:hover {
  background-color: #EA872D;
}

.navbar .container, .navbar-primary .container, .navbar, .navbar-primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-primary {
  padding: 1rem 2rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar .site-title, .navbar-primary .site-title {
  font-size: 2rem;
}

.navbar-primary {
  background-color: #0B8376;
}

.p-0 {
  padding: 0;
}

.pt-3 {
  padding-top: 4rem;
}

.pt-4 {
  padding-top: 6rem;
}

.pb-3 {
  padding-bottom: 4rem;
}

.pb-4 {
  padding-bottom: 6rem;
}

.m-1 {
  margin: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 6rem;
}

.mt-5 {
  margin-top: 8rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 4rem;
}

.mb-4 {
  margin-bottom: 6rem;
}

.br {
  border-radius: 0.8rem;
}

.display-f {
  display: flex;
}

.text-xxl {
  font-size: 2.4rem;
}

.text-xl {
  font-size: 2rem;
}

.text-lg {
  font-size: 1.8rem;
}

.text-md {
  font-size: 1.6rem;
}

.text-sm {
  font-size: 1.4rem;
}