@mixin modal-parent-wrap() {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(2, 2, 2, .5);
//   opacity: 0.5;

  &::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    // background: #020202;
    backdrop-filter: blur(3px);
  }

  & > * {
    position: relative;
    z-index: 3;
  }

  .content-wrap {
    min-width: 45rem;
    // max-width: 65rem;
    min-height: 35rem;
    max-height: 90vh;
    background-color: #ffffff;
    border-radius: 1.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    animation: modalAnimationUp 0.25s ease-in-out;
    align-items: stretch;
    padding: 0;
    overflow: hidden;

    .close-box {
      // background-color: red;
      padding: 2rem;
      padding-top: 2.5rem;
      display: flex;
      justify-content: flex-start;

      .img-box {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.1);
        }

        .img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 1rem 2rem;
    }

    .button-wrap {
        margin-top: auto;
        padding: 1.5rem 2rem;
        background-color: #f7f8f7;
  
        & > * {
          width: 100%;
        }
      }
  }

  .content-wrap-fadeInUp{
    animation: modalAnimationUp 0.25s ease-in-out;
  }

  .content-wrap-fadeInDown{
    animation: modalAnimationDown 0.25s ease-in-out;
  }

  .content-wrap-fadeInLeft{
    animation: modalAnimationLeft 0.25s ease-in-out;
  }

  .content-wrap-fadeInRight{
    animation: modalAnimationRight 0.25s ease-in-out;
  }
}

.modal-parent-wrap {
  @include modal-parent-wrap;
}

@keyframes modalAnimationUp {
  0% {
    transform: translate(-50%, -40%);
    opacity: 0.6;
  }

  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes modalAnimationDown {
    0% {
      transform: translate(-50%, -60%);
      opacity: 0.6;
    }
  
    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  @keyframes modalAnimationRight {
    0% {
      transform: translate(-40%, -50%);
      opacity: 0.6;
    }
  
    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  @keyframes modalAnimationLeft {
    0% {
      transform: translate(-60%, -50%);
      opacity: 0.6;
    }
  
    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
