@mixin tab__tab-links(
  $bg-color: #e2e2e2,
  $padding: $base-padding $base-padding,
  $radius: $base-btn-border-radius
) {
  width: 100%;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;

  .tab-link {
    border-radius: $base-border-radius;
    padding: $base-padding * 0.7 $base-padding;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-.1rem);
    }
  }
}

.tab-link-parent {
  @include tab__tab-links;

  @each $key, $val in $colors {
    .tab-link__#{$key} {
      background-color: $val;
      cursor: default;
      font-weight: 500;
      color: #ffffff;
   
      &:hover {
        transform: unset !important;
      }
    }

    .tab-link_faded__#{$key} {
        background-color: rgba($val, .1);
        cursor: default;
        font-weight: 500;
        color: $val;
     
        &:hover {
          transform: unset !important;
        }
      }
  }
}
